<section class="samples-sections mt-5">
    <div class="container-fluid">
        <h2 class="text-center">Categories</h2>
        <swiper-container [breakpoints]="brerakpoints" space-between=30>
            @for (category of categories; track category.idCategory) {
            <swiper-slide>
                <div class="border border-4 border-danger-subtle rounded" (click)="test()">
                    <img [src]="category.strCategoryThumb" class="w-100" [alt]="category.strCategory">
                    <p class="text-center">{{category.strCategory}}</p>
                </div>
            </swiper-slide>
            }
        </swiper-container>
    </div>
</section>