<section class="samples-sections mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <div class="sample rounded bg-danger-subtle">
                        <img class="w-100" src="./assets/images/herosection-woman.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="sample rounded bg-danger-subtle">
                        <img class="w-100" src="./assets/images/herosection-woman.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="sample rounded bg-danger-subtle">
                        <img class="w-100" src="./assets/images/herosection-woman.svg" alt="">
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="sample rounded bg-danger-subtle">
                        <img class="w-100" src="./assets/images/herosection-woman.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>