<section class="min-vh-100 main-bg">
    <div class="container">
        <div class="hero position-relative main-bg d-md-flex d-block justify-content-between align-items-center">
            <div>
                <h1 class="text-white fw-bold">Are you starving?</h1>
                <h2 class="h3">
                    Within a few clicks, find meals thatare accessible near you
                </h2>
            </div>
            <div>
                <img class="w-100 w-sm-50" src="./assets/images/hero-header.png" alt="">
            </div>
        </div>
    </div>
</section>